<div>

    <div>
        <h2 class="card-header text-center">Welcome {{appComponent.username}} to {{title}}</h2>
    </div>
    <div class="card-body">
        <img src={{image}} alt="Network" class="mx-auto"> <!--mx-auto centers bootstrap classes-->
        <div class="list-group">
            <!-- list all functionalites of our app -->
            <button type="button" class="btn btn-secondary btn-lg btn-block">View all users</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Register a new user</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Find users</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Remove users</button>

        </div>
    </div>

</div>